
<!--Footer-->
<footer class="page-footer center-on-small-only">

    <!--Footer Links-->
    <div class="container">
        <div class="row pb-4">

            <div class="col-md-6">
                <h5 class="title">About us</h5>
                <p>Gilded is building tools for business adoption of cryptocurrency.</p>

                <h5 class="title mt-4">Guides</h5>
                <ul>
                    <li><a href="https://medium.com/gilded/how-to-buy-cryptocurrency-in-10-minutes-1f2ae1606f42">How to Buy Cryptocurrency in 10 Minutes</a></li>
                    <li><a href="https://medium.com/gilded/why-should-my-business-accept-cryptocurrency-e25a6728c5e3">Why Should My Business Accept Cryptocurrency?</a></li>
                </ul>
            </div>

            <div class="col-md-6">
                <h5 class="title">Connect with us</h5>
                <ul>
                    <li><a href="https://twitter.com/GildedFinance"><i class="fa fa-twitter mr-1"></i> Twitter</a></li>
                    <li><a href="https://medium.com/gilded"><i class="fa fa-medium mr-1"></i> Medium</a></li>
                    <li><a href="https://facebook.com/GildedFinance"><i class="fa fa-facebook mr-1"></i> Facebook</a></li>
                    <li><a href="https://t.me/GildedFinance"><i class="fa fa-telegram mr-1"></i> Telegram</a></li>
                    <li><a href="mailto:hello@gilded.finance"><i class="fa fa-envelope mr-1"></i> Email</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright <a href="mailto:hello@gilded.finance">Gilded</a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->