@import 'scss/gold';

footer {
  background-color: $dark-color;
  margin-top: 0 !important;

  .title {
    margin-bottom: 15px;
  }

  li {
    margin-bottom: 4px;
  }

  .footer-copyright {
    background-color: $darker-color;
  }
}
